

body {
    background-color: rgb(204, 235, 235);
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe4240;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* navbar */
.f-info-links a{
    text-decoration: none;
    color: #222222;

}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
}

.f-info{
    display: flex;
    background-color: #eaeaea;
    flex-wrap: wrap;
    height: 8rem;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
  
}
.f-info-socials{
        width: 100%;
        font-size: 1.3rem;

}
.f-info-socials i{
            margin-right: 1rem;

}

/* cards */
.cards{
    /* border: none !important;
    margin-bottom: 5rem;
    margin: 10px; */
      margin: 15px; /* space around each card */
  border: 5px solid #ccc; /* optional, for card border */
  padding: 10px; /* inner padding */
 
}
.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
     padding-top: 20px;

}
.card-body{
    
    padding: 5% !important;
       gap: 20px;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe4240 !important;
    border: none !important;

}
.edit-btn{
        background-color: #fe4240 !important;
    border: none !important;

}
/* show page */
